.javascript{
    
    color: black;
    border: 1px solid greenyellow;
    width: 10%;
    text-align: center;
    font-size: 2rem;
}
#comtainer{
    display: flex;
    justify-content: space-between;
}